﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DayCare</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">DayCare</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        @if (User.Identity.IsAuthenticated) {
                            @if (User.IsInRole("Admin")) {
                                <li class="nav-item dropdown">
                                    <a class="nav-link text-dark dropdown-toggle" data-toggle="dropdown">Admin</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" asp-page="/Admin/Children/Index">Children</a>                                
                                        <a class="dropdown-item" asp-page="/Admin/Groups/Index">Groups</a>
                                        <a class="dropdown-item" asp-page="/Admin/Roles/Index">Roles</a>
                                        <a class="dropdown-item" asp-page="/Admin/Users/Index">Users</a>
                                    </div>                            
                                </li>
                            }  
                            @if (User.IsInRole("Parent") || User.IsInRole("Admin")) {  
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Parent/Index">Parent</a>                            
                                </li>     
                            }
                            @if (User.IsInRole("Educator") || User.IsInRole("Admin")) { 
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Educator/Index">Educator</a>                                             
                                </li> 
                            }  
                        }
                    @*    <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Test/Index">Test</a>
                        </li>  *@            
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Aboutus">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Contactus">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="bg-secondary text-light">
      <hr>
      <div class="row">
         <div class="credits col-sm-12">
            <p>Copyright 2020 / Designed by Hong & Chunjie</p>
         </div>
      </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
