@page "{handler?}/{CurrentPage?}"
@model DayCare.Pages.Test.IndexModel

@{
    ViewData["Title"] = "Test";
}

<h1>Test</h1>


<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Child[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Child[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Child[0].DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Child[0].PhotoFilePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Child[0].Allergery)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Child[0].IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
        <tbody id="tbody">
            <!--<partial name="_TestPartial" model="Model.Child" />-->    
        </tbody>
        
</table>

<ul class="pagination mt-3">
        @if (Model.ShowPrevious)
        {
            <li class="page-item">
                @*<a asp-route-CurrentPage="@(Model.CurrentPage -1)" class="page-link page">Previous</a>*@ 
                <span onclick="loadPage(@(Model.CurrentPage -1))" class="page-link">Previous</span>
            </li>
        }
        @for (var pageNo = 1; pageNo <= Model.TotalPages; pageNo++)
        {
            <li class="page-item" @(pageNo == Model.CurrentPage ? "active" : "")>
                <span onclick="loadPage(@pageNo)" class="page-link">@pageNo</span>
                @*
                @{
                    var d = new Dictionary<string, string>
                    {
                        { "handler", "ChildrenPagination" },
                        { "CurrentPage", @pageNo.ToString() }
                    };
                }<a asp-all-route-data="@d" class="page-link page">@pageNo</a> 
                *@ 
            </li>
        }
        @if (Model.ShowNext)
        {
            <li class="page-item">
                 <span onclick="loadPage(@(Model.CurrentPage + 1))" class="page-link">Next</span>
                @*<a asp-route-CurrentPage="@(Model.CurrentPage + 1)" class="page-link page">Next</a>*@ 
            </li>
        }
    </ul>
<p>CurrentPage=@Model.CurrentPage</p>

@*<p><button class="btn btn-primary" id="load">Load</button></p>*@

@section scripts{
    <script>
        function loadPage(pageNo) {
            $('#tbody').load('/test/index?handler=ChildrenPagination&CurrentPage=' + pageNo);
        }
       loadPage(1);
    </script>
}

