@page
@model DayCare.Pages.Admin.Groups.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ChildrenGroup</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ChildrenGroup.GroupName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChildrenGroup.GroupName)
        </dd>        
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ChildrenGroup.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
