@page
@model DayCare.Pages.Admin.Groups.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Groups List</h1>

<p>
    <a class="btn btn-primary" asp-page="Create">+ Add New Group</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ChildrenGroup[0].GroupName)
            </th>            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ChildrenGroup) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GroupName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <ul class="pagination mt-3">
        @if (Model.ShowPrevious)
        {
            <li class="page-item">
                <a asp-page="./index" asp-route-currentPage="@(Model.CurrentPage -1)" class="page-link">Previous</a>
            </li>
        }
        @for (var pageNo = 1; pageNo <= Model.TotalPages; pageNo++)
        {
            <li class="page-item @(pageNo == Model.CurrentPage ? "active" : "")">
                <a asp-page="./index" asp-route-currentPage="@pageNo" class="page-link">@pageNo</a>
            </li>
        }
        @if (Model.ShowNext)
        {
            <li class="page-item">
                <a asp-page="./index" asp-route-currentPage="@(Model.CurrentPage + 1)" class="page-link">Next</a>
            </li>
        }
    </ul>
</div>
