@page
@model DayCare.Pages.Parent.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Child</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Child.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Child.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Child.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Child.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Child.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Child.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Child.PhotoFilePath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Child.PhotoFilePath)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Child.Allergery)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Child.Allergery)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Child.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Child.IsActive)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Child.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
