@page
@model DayCare.Pages.Parent.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Children List</h1>

<p>
    <a class="btn btn-primary" asp-page="Create">+ Add Child</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Child[0].PhotoFilePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Child[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Child[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Child[0].DateOfBirth)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.Child[0].Allergery)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Child[0].IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Child) {
        <tr>
            <td>
                <img src="@item.PhotoFilePath" class="img-fluid img-thumbnail" style="width:60px; height: 60px"/>                
            </td> 
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>                               
            <td>
                @Html.DisplayFor(modelItem => item.Allergery)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                <a asp-page="./ViewComment" asp-route-id="@item.Id">View Comment</a> |
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |                
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
