@page
@model DayCare.Pages.Parent.ViewCommentModel

@{
    ViewData["Title"] = "Details";
}

<h1>Child Comments</h1>

<div>
    <h4>Comment for @Model.Child.FirstName @Model.Child.LastName on @Model.FormatedDate</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Child.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Child.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Child.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Child.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Child.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Child.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Child.PhotoFilePath)
        </dt>
        <dd class="col-sm-10">
           <img src="@Model.Child.PhotoFilePath" class="img-fluid img-thumbnail" style="width:60px; height: 60px"/>                
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Child.Allergery)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Child.Allergery)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Child.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Child.IsActive)
        </dd>
        <dt>
            Comment
        </dt>
        @foreach (var item in Model.Comments) {
            <dt class="col-sm-2"></dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.Comment)
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Child.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
