﻿@page
@model DaycareSystem.Pages.ContactusModel
@{
}
<style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
    </style>
    
 <div id="page-wrapper"><!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid">
   <div class="container">
      <!-- jumbo-heading -->
      <div class="jumbo-heading aos-init aos-animate" data-aos="fade-down">
         <h1>Contact</h1>
         <!-- Breadcrumbs -->
         <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
               <li class="breadcrumb-item"><a href="/index">Home</a></li>
               <li class="breadcrumb-item active" aria-current="page">Contact</li>
            </ol>
         </nav>
         <!-- /breadcrumb -->
      </div>
      <!-- /jumbo-heading -->
   </div>
   <!-- /container -->
</div>  
<!-- /jumbotron -->
<!-- ==== Page Content ==== -->
<div class="page">
    <div class="container">
      <div class="row">
         <div class="col-lg-7">
            <h3>Contact Information</h3>
            <p>In aliquet magna nec lobortis maximus. Etiam rhoncus leo a dolor placerat, nec elementum ipsum convall.</p>
            <p>
             <!-- contact icons-->
            </p><ul class="list-inline mt-3 list-contact colored-icons">
               <li class="list-inline-item"><i class="fa fa-envelope margin-icon"></i><a href="mailto:email@yoursite.com">projecttest2022@gmail.com</a></li>
               <li class="list-inline-item"><i class="fa fa-phone margin-icon"></i>(123) 456-789</li>
               <li class="list-inline-item"><i class="fa fa-map-marker margin-icon"></i>21 275 Rue Lakeshore Road, Sainte-Anne-de-Bellevue, QC H9X 3L9</li>
            </ul>
            <!--The div element for the map -->
            <div id="map"></div>
            <script>
               // Initialize and add the map
               function initMap() {
               // The location of Johnabbott college
               var montreal = {lat: 45.4064663, lng: -73.9418106};
               // The map, centered at Johnabbott college
               var map = new google.maps.Map(
                     document.getElementById('map'), {zoom: 12, center: montreal});
               // The marker, positioned at Uluru
               var marker = new google.maps.Marker({position: montreal, map: map});
               }
            </script>
            <!--Load the API from the specified URL
            * The async attribute allows the browser to render the page while the API loads
            * The key parameter will contain your own API key (which is not needed for this tutorial)
            * The callback parameter executes the initMap() function
            -->
            <script defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBON6db-E8cIzVii1TuqKult0KLq9zvrDE&callback=initMap">
            </script>
            <!-- /map-->
         </div>
         <!-- /col-lg- -->
         <!-- contact box -->  
         <div class="col-lg-4 contact-form3 offset-lg-1 bg-light h-100">
            <div class="contact-image bg-light">
               <!-- envelope icon-->
               <i class="fas fa-envelope"></i>
            </div>
            <h5 class="text-center mt-3">Send us a message</h5>
            
               
              
              
            
            <!-- Form Starts -->
            <form method="POST">
            
               <div class="form-group">
                  <div class="row">
                     <div class="col-md-12">
                        <label asp-for="Input.Name">Name</label>
                        <input type="text" name="name" class="form-control input-field" asp-for="Input.Name"> 
                        <span asp-validation-for="Input.Name" class="text-danger"></span>
                     </div>
                     <div class="col-md-12">
                        <label asp-for="Input.Email">Email Address</label>
                        <input type="email" name="email" class="form-control input-field" asp-for="Input.Email"> 
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                     </div>
                     <div class="col-md-12">
                        <label asp-for="Input.Subject">Subject</label>
                        <input type="text" name="subject" class="form-control input-field" asp-for="Input.Subject"> 
                        <span asp-validation-for="Input.Subject" class="text-danger"></span>
                     </div>
                     <div class="col-md-12">
                        <label asp-for="Input.Message">Message</label>
                        <textarea asp-for="Input.Message" name="message" id="message" class="textarea-field form-control" rows="3"></textarea>
                        <span asp-validation-for="Input.Message" class="text-danger"></span>
                     </div>
                  </div>
                  <!-- button -->
                  <button type="submit" value="Submit" class="btn btn-primary btn-block mt-3">Send message</button>
               </div>
               <!-- /form-group-->
               <!-- Contact results -->
               <div id="contact_results"> <label>@Model.EmailStatusMessage</label></div>
            
            </form>
            <!-- /contact-form-->
         </div>
         <!-- /col-lg-->
      </div>
      <!-- /row -->
   </div>
   <!-- /container --></div>
<!-- /page --></div>
<!--/ page-wrapper -->

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://apis.google.com/js/platform.js" async defer></script>
}


