﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
   <div class="row">
      <div class="col-sm">
         <img src="~/photos/index/intro1.jpg" style="width: 100px height: 300px" class="img-thumbnail">
      </div>
      <div class="col-sm">
         <img src="~/photos/index/intro3.jpg" class="img-thumbnail">
      </div>
      <div class="col-sm">
         <img src="~/photos/index/intro2.jpg" class="img-thumbnail">        
      </div>
   </div>
</div>


    <section id="features" class="bg-secondary text-light">
   <div class="container">
      <!-- section heading -->  
      <div class="section-heading text-center">
         <h2>Our Features</h2>
         <p class="subtitle">Benefits for you</p>
      </div>
      <!-- /section-heading -->
      <!-- features -->
      <div class="row ">
         <div class="col-lg-6">
            <div class="row ">
               <div class="col-md-6 col-lg-6">
                  <!-- feature -->
                  <div class="feature-with-icon">
                     <div class="icon-features">
                        <!-- icon -->
                        <i class="flaticon-maternity text-primary"></i>
                     </div>
                     <h5>Safe Enviroment</h5>
                     <p>Etiam rhoncus leo a dolor placerat, nec elem entum ipsum convall.</p>
                  </div>
                  <!-- /feature-with-icon-->
                  <!-- feature -->
                  <div class="feature-with-icon mt-5">
                     <div class="icon-features">
                        <!-- icon -->
                        <i class="flaticon-open-book-1 text-primary"></i>
                     </div>
                     <h5>Educational activities</h5>
                     <p>Etiam rhoncus leo a dolor placerat, nec elem entum ipsum convall.</p>
                  </div>
                  <!-- /feature-with-icon-->
               </div>
               <div class="col-md-6 col-lg-6">
                  <!-- feature -->
                  <div class="feature-with-icon">
                     <div class="icon-features">
                        <!-- icon -->
                        <i class="flaticon-classroom-1 text-primary"></i>
                     </div>
                     <h5>Qualified teachers</h5>
                     <p>Etiam rhoncus leo a dolor placerat, nec elem entum ipsum convall.</p>
                  </div>
                  <!-- /feature-with-icon-->
                  <!-- feature -->
                  <div class="feature-with-icon mt-5">
                     <div class="icon-features">
                        <!-- icon -->
                        <i class="flaticon-baby-boy text-primary"></i>
                     </div>
                     <h5>Infant care</h5>
                     <p>Etiam rhoncus leo a dolor placerat, nec elem entum ipsum convall.</p>
                  </div>
                  <!-- /feature-with-icon-->
               </div>
               <!-- /col-l -->
            </div>
            <!-- /row-->
         </div>
		 <!-- /col-l -->
         <div class="col-lg-6 features-bg">
		 <!-- image -->
            <img src="~/photos/index/features.png" alt="" class="img-fluid aos-init aos-animate" data-aos="zoom-out" data-aos-delay="300">
         </div>
		 <!-- /col-l -->
      </div>
      <!-- /row -->
   </div>
   <!-- /container -->
</section>