@page
@model DayCare.Pages.Admin.Users.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Users List</h1>

<table class="table">
    <thead>
        <tr>            
            <th>
                @Html.DisplayNameFor(model => model.UserList[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserList[0].PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserList[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserList[0].LastName)
            </th>                                    
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.UserList) {
        <tr>            
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>                                              
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <ul class="pagination mt-3">
        @if (Model.ShowPrevious)
        {
            <li class="page-item">
                <a asp-page="./index" asp-route-currentPage="@(Model.CurrentPage -1)" class="page-link">Previous</a>
            </li>
        }
        @for (var pageNo = 1; pageNo <= Model.TotalPages; pageNo++)
        {
            <li class="page-item @(pageNo == Model.CurrentPage ? "active" : "")">
                <a asp-page="./index" asp-route-currentPage="@pageNo" class="page-link">@pageNo</a>
            </li>
        }
        @if (Model.ShowNext)
        {
            <li class="page-item">
                <a asp-page="./index" asp-route-currentPage="@(Model.CurrentPage + 1)" class="page-link">Next</a>
            </li>
        }
    </ul>
</div>
