@page "{id:int}"
@model DayCare.Pages.Educator.AddCommentModel

@{
    ViewData["Title"] = "Create";
}

<h1>Add Comment</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h4>Comment for @Model.Child.FirstName @Model.Child.LastName on @Model.FormatedCommentDate</h4>
            
            <div class="form-group">
                <label asp-for="Child.FirstName" class="control-label"></label>
                <input asp-for="Child.FirstName" class="form-control" />
                <span asp-validation-for="Child.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Child.LastName" class="control-label"></label>
                <input asp-for="Child.LastName" class="form-control" />
                <span asp-validation-for="Child.LastName" class="text-danger"></span>
            </div>                        
            <div class="form-group">
                <label asp-for="Comment.Comment" class="control-label"></label>
                <textarea asp-for="Comment.Comment" class="form-control"></textarea>
                <span asp-validation-for="Comment.Comment" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
