@page "{id:int}"
@model DayCare.Pages.Educator.ChildrenListModel

@{
    ViewData["Title"] = "Index";
}

<h1>Children In Group</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Child[0].PhotoFilePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Child[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Child[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Child[0].DateOfBirth)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.Child[0].Allergery)
            </th>            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Child) {
        <tr>
            <td>
                <img src="@item.PhotoFilePath" class="img-fluid img-thumbnail" style="width:60px; height: 60px"/>                               
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.Allergery)
            </td>            
            <td>
                <a asp-page="./AddComment" asp-route-id="@item.Id">Add Comment</a>               
            </td>
        </tr>
}
    </tbody>
</table>
