@page
@model DayCare.Pages.Admin.Educator.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Children Groups List</h1>

<table class="table table-striped">   
    <tbody>
@foreach (var item in Model.ChildrenGroup) {
        <tr>            
            <td>
                <a asp-page="./ChildrenList" asp-route-id="@item.Id">@item.GroupName</a>
            </td>
        </tr>
}
    </tbody>
</table>
