@model IList<Models.Child>

@foreach (var item in Model) 
{
    <tr>
        <td>
            <img src="@item.PhotoFilePath" class="img-fluid img-thumbnail" style="width:60px; height: 60px"/>                
        </td> 
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfBirth)
        </td>                               
        <td>
            @Html.DisplayFor(modelItem => item.Allergery)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
            <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
        </td>
    </tr>
}