@page
@model DayCare.Pages.Admin.Children.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Child</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Child.FirstName" class="control-label"></label>
                <input asp-for="Child.FirstName" class="form-control" />
                <span asp-validation-for="Child.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Child.LastName" class="control-label"></label>
                <input asp-for="Child.LastName" class="form-control" />
                <span asp-validation-for="Child.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Child.DateOfBirth" class="control-label"></label>
                <input asp-for="Child.DateOfBirth" class="form-control" />
                <span asp-validation-for="Child.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhotoFile" class="control-label"></label>
                <input type="file" asp-for="PhotoFile" />
            </div>
            <div class="form-group">
                <label asp-for="Child.Allergery" class="control-label"></label>
                <input asp-for="Child.Allergery" class="form-control" />
                <span asp-validation-for="Child.Allergery" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Group</label>
                <select asp-for="GroupName" class="form-control">
                    @foreach (var Group in Model.GroupList) { 
                        <option value=@Group.GroupName>@Group.GroupName</option>
                    } 
                </select>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Child.IsActive" /> @Html.DisplayNameFor(model => model.Child.IsActive)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
