@page
@model DayCare.Pages.Admin.Children.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Child</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Child.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Child.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Child.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Child.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Child.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Child.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Child.PhotoFilePath)
        </dt>
        <dt class="col-sm-10">
            <img src="@Model.Child.PhotoFilePath" class="img-fluid img-thumbnail" style="width:60px; height: 60px"/>                
        </dt>        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Child.Allergery)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Child.Allergery)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Child.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Child.IsActive)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Child.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
